<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>finger-chips</title>

   <link rel="stylesheet" href="/stylesheets/style.css">
   <link rel="stylesheet" href="/stylesheets/profile.css">

   <script src="/javascripts/history.js" defer></script>
</head>

<body>
   <header>
      <div class="title">finger chips / history</div>
   </header>

   <main>
      <div class="controls">
         <span class="control-start">
            <span class="control">10</span> /
            <span class="control">25</span> /
            <span class="control selected-count">50</span> /
            <span class="control">100</span> /
            <span class="control">250</span>
         </span>
      </div>
      <div class="container">
         <ul class="history">

         </ul>

         <button id="delete">delete</button>
      </div>
   </main>

   <footer>
      <div>
         <% let log = !currentUser ? 'login' : 'logout' %>

         <a href="/profile">&#60; back</a> / <a href="/<%= log %>"><%= log %> &#62;</a>
      </div>
   </footer>

   <% if (currentUser) {%>
   <script>
      const user = '<%- currentUser.id %>';
   </script>
   <% } else { %>
   <script>
      const user = null;
   </script>
   <% } %>
</body>

</html>