main {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 55%;
   margin: 0 auto;
}

.container {
   border-radius: 0.3em;
   background-color: #44475A;
   padding: 0.5em 2em;
}

label {
   display: block;
   margin-top: 0.4em;
}

.field {
   border-radius: 0.2em;

   padding: .8em;
   height: 2em;
   width: 100%;
   margin-bottom: 0.4em;

   background-color: #282A36;
   border: none;
   color: white;
   font: inherit;
}

input:invalid {
   background-color: #6B3D4D;
}